//------------------------------ LISTS ------------------------------
$list-1row: 48px;
$list-1row-small: 40px;
$list-1row-big: 56px;

$list-2row: 72px;
$list-2row-small: 60px;

$list-3row: 88px;
$list-3row-small: 76px;

$list-4row: 104px;
$list-4row-small: 92px;

$list-5row: 120px;
$list-5row-small: 108px;

$list-6row: 136px;
$list-6row-small: 124px;
//------------------------------ LISTS END ------------------------------

//------------------------------ COLORS ------------------------------
$white: #fff;
$black: #000;

/* blue */
$dark-blue: #0075aa;

/* GRAY */
$WhiteSmoke: #F5F5F5;    /* list color*/
$WhiteSmokeDark:#F0F0F0;
$GainsboroLight:#E0E0E0; /* hover */
$Gainsboro: #DCDCDC;
$LightGray: #D3D3D3;
$Silver: 	#C0C0C0;
$X11Gray:   #BEBEBE;
$DarkGray:  #A9A9A9;
$Gray:      #808080;

/* From App */
$colorPrimary: #0f3d5c; /* nav color*/
$colorPrimaryDark: #001732;
$colorPrimaryLight: #426789;
$colorSecondary: #ecdab2;
$colorSecondaryLight: #ffffe4;
$colorSecondaryDark: #b9a982;
$white: #fff;
$black: #333;
$orange: #a9b549;
$lightOrange: #fcc215;
$green: #a9b549;
$gray: #939393;
$gray2: #636363;
$violet: #39b449;
$red: #d24a43;
$brown: #856f6f;

$SeparatorCrolor: #76688a;
//------------------------------ COLORS END ------------------------------
